# Python virtual environment
venv/
env/
ENV/
.venv

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment files, backups, and logs
.env
*.log
ejecucion.log
*.last_good
get-pip.py


# Operating system / IDE specific files
.DS_Store
._.DS_Store
.vscode/
.idea/
